@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* @group base */

img {
	border: none;
}
body {
	background: #F7F7F7 url("../images/tileheader_body.png") repeat-x top;
	font-family: Arial,Helvetica,sans-serif;
	color: #5F6060;
	font-size: 16px;
}
a {
	color: #6A6A6A;
	text-decoration: none;
}
div.clear {
	clear: both;
}
div.column {
	width: 960px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding-bottom: 10px;
}
.border_style {
	-moz-border-radius: 5px; /* FF1+ */
  	-webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px;
	border: 1px solid #d8eefa;  
}
.border_style:hover {
	background-color: #d8eefa;
	-moz-border-radius: 5px; /* FF1+ */
  	-webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px;	
}
.bt_expand_global {
	float:left;
	margin-right:10px;
	margin-top:5px;
	cursor: pointer;	
}
.bt_expand_left {
	width: 4px;
	height: 31px;
	display: inline-block;
	float: left;
	background: url(../images/content/bt_expand_left.png) no-repeat left top;
}
.bt_expand {
	background: transparent url(../images/content/bt_expand.png) no-repeat scroll right top;
	display:inline-block;
	float:right;
	height:31px;
	text-decoration:none;
}
.bt_expand_global a {
	padding-left:11px;
	padding-right:20px;
	text-align:center;
	line-height: 1.8em;
	text-shadow: #d8eefa 0 1px 0;
}
.bt_expand_global:hover .bt_expand_left {
	background-position: left bottom;
}
.bt_expand_global:hover .bt_expand {
	background-position: right bottom;	
}
.plupload input {
	cursor: pointer;
}
/* @end */
/* @group header */
div#top {
	position: relative;
	background: #FFFFFF url("../images/tileheader_content.png") repeat-x top;
}
div#top div#title_box {
	padding: 15px 0 50px 30px;
}
div#top div#title_box h1 {
	background: url("../images/logo.gif") no-repeat top left;
	display: block;
	width: 135px;
	height: 29px;
}
div#top div#title_box h1 span {
	display: none;
}
div#top div#menu_box {
	position: absolute;
	left:269px;
	top: 0;
}
div#top div#menu_box ul li {
	list-style: none;
	display: inline;
	float: left;
}
div#top div#menu_box ul li a {
	display: block;
	width: 148px;
	height: 50px;
	padding-top: 17px;
	text-align: center;
	text-shadow: #d8eefa 0 1px 0;
}
div#top div#menu_box ul li a.current {
	background: url("../images/titre_header_hover.png") no-repeat top left;
}
div#top div#menu_box ul li a:hover {
	background: url("../images/titre_header_hover.png") no-repeat bottom left;
}
div#top div#search_box {
	position: absolute;
	top: 15px;
	right:10px;
	width: 169px;
	height: 24px;
	background: url("../images/input_search.png") no-repeat top left;
}
div#top div#search_box input#q {
	background: transparent;
	height:18px;
	width: 130px;
	margin: 4px 0 0 3px;
	float: left;
	border: none;
}
div#top div#search_box a {
	background: transparent url("../images/icon_search.png") no-repeat top left;
	display: block;
	width: 20px;
	height: 20px;
	float: right;
	margin: 3px 3px 0 0;
}
div#top div#search_box a span {
	display: none;
}
div#top div#user_box {
	position:absolute;
	right:10px;
	top:55px;
}
div#top div#user_box div#user_panel {
	display: none;
}
div#top div#user_box div#user_tab {
	
}
div#top div#user_box div#user_tab div#user_tab_left,
div#top div#user_box div#user_tab div#user_tab_content,
div#top div#user_box div#user_tab div#user_tab_right {
	height: 34px;
	display: inline;
	float: left;
}
div#top div#user_box div#user_tab div#user_tab_left {
	background: transparent url("../images/tab_left.png") no-repeat top right;
	width: 6px;
}
div#top div#user_box div#user_tab div#user_tab_right {
	background: transparent url("../images/tab_right.png") no-repeat top right;
	width: 6px;
}
div#top div#user_box div#user_tab div#user_tab_content {
	height: 27px;
	background: transparent url("../images/tab_tile.png") repeat-x top;
	white-space: nowrap;
	font-size: 14px;
	padding: 7px 5px 0;
}
div#top div#user_box div#user_tab div#user_tab_content a {
	text-shadow: #d8eefa 0 1px 0;	
}
div#top div#user_box div#user_tab div#user_tab_content a:hover {
	text-decoration: underline;
}
div#top div#user_box div#user_tab div#user_tab_content span {
	font-size: 0.9em;
}
div#top div#user_box div#user_tab div#user_tab_content span.user_tab_connected {
	color: #fff;
}
div#top div#user_box div#user_tab div#user_tab_content span.user_tab_separ {
	background:url("../images/tab_separ.gif") repeat-y scroll center top transparent;
	height:17px;
	padding-left:3px;
	padding-right:20px;
}
div#top div#admin_box {
	margin: 50px 0 0 20px;
	height: 50px;
}
div#top div#admin_box ul li {
	display: inline;
	float: left;
	height: 50px;
	margin: 0 5px;
}
div#top div#admin_box ul li a {
	display: block;
	width: 119px;
	height: 30px;
	background: transparent url("../images/add_btn.png") no-repeat top left;
	padding: 10px 5px;
	text-align: center;
	line-height: .9em;
}
div#top div#admin_box ul li a:hover {
	background-position: bottom left;
}
/* @end */
/* @group Left bar */
div#content div#left {
	display: inline;
	float: left;
	width: 230px;
	padding: 0 10px;
}
div#content div#left div strong {
	background:url("../images/leftbar/bgd_titre.png") no-repeat scroll left top transparent;
	display:block;
	height:30px;
	padding:14px 0 0 10px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
	width:212px;
}
div#content div#left div ul {
	background: transparent url("../images/leftbar/bgd_repeat.png") repeat-y left;
	width: 222px;
}
div#content div#left div ul li {
	list-style: none;
}
div#content div#left div ul li a {
	border-bottom:1px solid #B2B2B2;
	border-top:1px solid #FFFFFF;
	display:block;
	font-size:0.8em;
	margin:0 auto;
	padding:2px 2px 5px;
	width:200px;
}
div#content div#left div ul li a.first {
	border-top: none;
}
div#content div#left div ul li a.last {
	border-bottom: none;
}
div#content div#left div ul li a span {
	display: block;
	float: right;
	width: 36px;
	height: 19px;
	background: transparent url("../images/leftbar/bgd_cat_nb.png") no-repeat top left;
	text-align: center;
	font-size: 12px;
	padding-top: 2px;
}
div#content div#left div.left_box_foot {
	width: 222px;
	height: 7px;
	background: transparent url("../images/leftbar/bgd_bottom.png") no-repeat top left;
;
}
div#content div#sf_content li {
	list-style: none;
}

/* @end */
div#content div#sf_content {
	position: relative;
	display: inline;
	float: right;
	width: 680px;
	padding: 0 10px;
}
div#content div#sf_content div#title_box {
	margin: 0 auto;
}
div#content div#sf_content div#title_box div#title_top {
	background: transparent url("../images/content/title_top.png") no-repeat top right;
	width: 680px;
	height: 7px;
}
div#content div#sf_content div#title_box div#title_bottom {
	background: transparent url("../images/content/title_bottom.png") no-repeat top left;
	width: 680px;
	height: 7px;
}
div#content div#sf_content div#title_box div#title_content {
	background: transparent url("../images/content/title_content.png") repeat-y left;
	padding:5px 5px 0;
	width:680px;
}
div#content div#sf_content div#title_box div#title_content h2 {
	width:410px;
	padding-left:10px;
	font-size: 1.3em;
	text-transform: uppercase;
	text-shadow: white 0 1px 1px;
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box {
	display: block;
	width: 87px;
	height: 27px;
	position: absolute;
	top:10px;
	left: 440px;
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box li {
	display: inline;
	float: left;
	width: 29px;
	height: 27px;
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box li a {
	display: block;
	height: 27px;
	width: 29px;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: transparent;
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box li a.current,
div#content div#sf_content div#title_box div#title_content ul#document_view_box li a:hover {
	background-position: bottom center;
	background-repeat: no-repeat;
	background-color: transparent;
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box li a span {
	display: none;
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box li a#display_thumbnail {
	background-image: url("../images/content/option_left.png");
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box li a#display_mixed {
	background-image: url("../images/content/option_center.png");
}
div#content div#sf_content div#title_box div#title_content ul#document_view_box li a#display_detail {
	background-image: url("../images/content/option_right.png");
}
div#content div#sf_content div#title_box div#sort_box {
	height: 25px;
	position: absolute;
	right: 20px;
	top: 10px;
}
div#content div#sf_content div#title_box div#sort_box form {
	margin: 0;
	float: right;
	display: inline;
}
div#content div#sf_content div#title_box div#sort_box form select {
	width: 80px;
	margin: 0 0 0 5px;
}
div#content div#sf_content div#document_box {
	margin: 10px 0;
}

/* @group view thumbnail */

div#content div#sf_content div#document_box div.document_thumbnail {
	display: inline;
	float: left;
	width: 129px;
	height: 142px;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	margin: 3px;
}
div#content div#sf_content div#document_box div.document_thumbnail a {
	display: block;
	width: 129px;
	height: 143px;
	background: transparent url("../images/content/img_box.png") no-repeat top left;
	position: relative;
}
div#content div#sf_content div#document_box div.document_thumbnail a:hover {
	background-position: left bottom;
}
div#content div#sf_content div#document_box div.document_thumbnail a span.updated_at {
	font-size:12px;
	left:6px;
	position:absolute;
	top:7px;
}
div#content div#sf_content div#document_box div.document_thumbnail a span.title {
	background:url("../images/content/pixel_transparent.png") repeat scroll center center transparent;
	bottom:0;
	font-size:12px;
	left:0;
	margin-bottom:2px;
	margin-left:2px;
	padding:3px 5px;
	width:115px;
	position:absolute;
	-moz-border-radius: 0 0 5px 5px; /* FF1+ */
  	-webkit-border-radius: 0 0 5px 5px; /* Saf3+, Chrome */
    border-radius: 0 0 5px 5px;
	display: block;
	border-top:1px solid #D8EEFA;
	overflow:hidden;
}
div#content div#sf_content div#document_box div.document_thumbnail a:hover span.title {
	background:url("../images/content/pixel_transparent_hover.png") repeat scroll center center transparent;
	border-top:1px solid #D8EEFA;	
}

/* @end */

/* @group view mixed */

div#content div#sf_content div#document_box div.document_mixed {
	margin: 10px;
}
div#content div#sf_content div#document_box div.document_mixed img {
	float: left;
	margin: 5px;
	min-width:100px;
	max-width: 100px;
}
div#content div#sf_content div#document_box div.document_mixed a {
	font-weight: bold;
}
div#content div#sf_content div#document_box div.document_mixed p.updated_at {
	font-style: italic;
	font-size: 12px;
	margin-bottom: 5px;
}

/* @end */

/* @group view detail */

div#content div#sf_content div#document_box div.document_detail {
	margin: 5px;
}
div#content div#sf_content div#document_box div.document_detail a {
	font-weight: bold;
}
div#content div#sf_content div#document_box div.document_detail ul {
	margin-left: 10px;
}
div#content div#sf_content div#document_box div.document_detail ul li {
	font-size: 12px;
}

/* @end */
div#content div#sf_content div#document_box span.pager_count {
	font-style: italic;
	-moz-border-radius: 5px; /* FF1+ */
  	-webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px;
	border: 1px solid #d8eefa; 
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 10px;  
	display: inline-block;
	font-size: 0.9em;
}
div#content div#sf_content h3 {
	border-bottom: 1px solid #6A6A6A;
	margin-top: 30px;
}
div#content div#sf_content form {
	margin: 5px;
}
div#content div#sf_content form input.submit {
	margin: 10px 3px;
	display: block;
	font-size: 14px;
}
div#content div#sf_content form label {
	display: block;
	font-size: 14px;
	margin-top: 5px;
}
div#content div#sf_content div.control_box {
	padding-left: 10px;	
}
div#content div#sf_content div.control_box ul {
	margin: 0 0 5px 5px;
}
div#content div#sf_content div.control_box ul li {
	display: inline;
}
div#content div#sf_content div.control_box ul li a {
	display: inline;
	border: 1px solid #d8eefa;   
	font-size: 0.8em;
	-moz-border-radius: 0 0 5px 5px; /* FF1+ */
  	-webkit-border-radius: 0 0 5px 5px; /* Saf3+, Chrome */
    border-radius: 0 0 5px 5px;
    padding:3px 6px;
}
div#content div#sf_content div.control_box ul li a:hover {
	text-decoration: none;
	background-color: #d8eefa;
}
div#content div#sf_content div#category_users ul,
div#content div#sf_content div#document_categories ul {
	margin: 10px;
}
div#content div#sf_content div#category_users ul li,
div#content div#sf_content div#document_categories ul li {
	font-weight: bold;
}
div#content div#sf_content div#category_users ul li a,
div#content div#sf_content div#document_categories ul li a {
	font-weight: normal;
}
div#content div#sf_content table tr th,
div#content div#sf_content table tr td {
	padding: 0 10px;
}

/* @group loginstart */
div#loginstart {
	margin-top: 20px;
	margin-top:20px;
	padding-left:10px;
}
div#loginstart label {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
}
div#loginstart input {
	background:url("../images/loginputtxt.png") no-repeat scroll left top transparent;
	border:medium none;
	font-size:0.8em;
	height:20px;
	margin-bottom:5px;
	margin-top:5px;
	padding:4px 5px 5px;
	width:199px;
	color: silver;
}
div#loginstart input.submit {
	background: url(../images/logbt.png) no-repeat left top;
	width: 127px;
	height: 49px;
	cursor: pointer;
	color: #5F6060;
	text-shadow: #d8eefa 0 1px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8em;
}
div#loginstart input.submit:hover {
	background-position: left bottom;
}
/* @end */

/* @group Notice Error */
div#top div#notice, div#top div#error {
	margin: 10px 0 0 270px;
}
div#notice, div#error, ul.error_list {
	font-style: italic;
	margin: 0 10px;
}
div#notice {
	color: #A9C8DD;
}
div#error, ul.error_list {
	color: #E76D75;
}
/* @end */
div#content div#sf_content div#document_info p#document_thumbnail {
	width: 400px;
	margin: 10px auto;
	border: 1px solid #B2B2B2;
	padding: 10px 0;
	text-align: center;
}
div#content div#sf_content div#document_info p#document_thumbnail img {
	display: block;
	margin: 5px auto;
}
div#content div#sf_content div#document_info p#document_thumbnail span {
	display: block;
	margin: 5px auto;
}
div#content div#sf_content div#document_info ul li {
	border-bottom: 1px dotted #B2B2B2;
	text-align: right;
	width: 400px;
	margin: 0 auto;
}
div#content div#sf_content div#document_info ul li label {
	width: 150px;
	display: inline;
	float: left;
	text-align: left;
}

/* @group pager documents */

ul.pager {
	margin-left:5px;
	margin-right:10px;
	margin-top:15px;
	text-align:center;
	border-top: 1px solid #d8eefa;
	padding-top: 5px;
}
ul.pager li {
	display: inline;
	-moz-border-radius: 5px; /* FF1+ */
  	-webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px;
	border: 1px solid #d8eefa;
	padding: 1px 5px;
	font-size:0.8em;
	margin-right: 2px;
	margin-left: 2px;
	font-weight:bold;
}
ul.pager li a {
	text-align: center;
}
ul.pager li:hover, ul.pager li.pager_active {
	background-color: #d8eefa;
	border: none;
	-moz-border-radius: 5px; /* FF1+ */
  	-webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px;
    padding: 2px 6px;
}
ul.pager li.pager_first {
	float: left;
}
ul.pager li.pager_last {
	float: right;
}
ul.pager li.pager_previous {
	margin-right:18px;
}
ul.pager li.pager_next {
	margin-left: 20px;	
}
ul.pager li.pager_first,
ul.pager li.pager_last,
ul.pager li.pager_previous,
ul.pager li.pager_next {
	font-weight: normal;
}

/* @end */
input#category_title {
	width: 300px;
}

/* @group uploader */

#filelist div {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-size:0.8em;
	position: relative;	
}
#filelist div span {
	margin-right: 20px;
	font-size: 0.8em;
	float: right;
	font-style: italic;
	font-weight: bold;
}
#filelist div strong {
	position: absolute;
	font-size: 0.9em;
	right: 25px;
	top: 25px;	
}
#filelist div strong.border_stylehover {
	background-color: #d8eefa;
	-moz-border-radius: 5px; /* FF1+ */
  	-webkit-border-radius: 5px; /* Saf3+, Chrome */
    border-radius: 5px;
	padding: 0 5px;
}
/* @end */
/* @group side left category */

div#content div#left div#category_box ul li.root {
	position: relative;
}
div#content div#left div#category_box ul li.root ul {
	background: none;
	position: absolute;
	top: 10px;
	left:60px;
	width: 511px;
}
div#content div#left div#category_box ul li.root ul li.title {
	background: url("../images/cat_top_popup.png") no-repeat top left;
	display: block;
	width: 491px;
	height: 29px;
	padding: 15px 0 0 20px;
}
div#content div#left div#category_box ul li.root ul li.title a {
	border: none;
	padding: 0;
	display: inline;
	height: auto;
	margin: 0;
	padding: 0;
	width: auto;
	text-decoration: none;
}
div#content div#left div#category_box ul li.root ul li.title a:hover {
	text-decoration: underline;
}
div#content div#left div#category_box ul li.root ul li.sub_category {
	background: url("../images/cat_repeat_popup.png") repeat-y left;
	text-align: left;
	padding: 5px 0 2px 20px;
	font-size: 12px;
}
div#content div#left div#category_box ul li.root ul li.subcat_level_1 {
	font-size: 13px;
	font-weight: bold;
}
div#content div#left div#category_box ul li.root ul li.subcat_level_2 {
	padding-left: 30px;
}
div#content div#left div#category_box ul li.root ul li.subcat_level_3 {
	padding-left: 40px;
}
div#content div#left div#category_box ul li.root ul li.subcat_level_4 {
	padding-left: 50px;
}
div#content div#left div#category_box ul li.root ul li.foot_sub_category {
	display: block;
	height: 17px;
	width: 511px;
	background: url("../images/cat_bottom_popup.png") no-repeat top left;
}
div#content div#left div#category_box ul li.root ul li.sub_category a {
	display: inline;
	border: none;
	text-decoration: none;
}
div#content div#left div#category_box ul li.root ul li.sub_category a:hover {
	text-decoration: underline;
}

/* @end */
/* @group Footer */
div#foot {
	width: 940px;
	padding:15px 10px 0;
	margin-bottom: 30px;
	text-align: right;
	font-size: 12px;
	-moz-border-radius: 0 0 8px 8px; /* FF1+ */
  	-webkit-border-radius: 0 0 8px 8px; /* Saf3+, Chrome */
    border-radius: 0 0 8px 8px;
	background: white url(../images/footer_hr.png) repeat-x left top;
	height: 30px;
}
div#foot ul {
	float: right;
}
div#foot ul li {
	display: inline;
	float: left;
}
div#foot ul li a,
div#foot ul li span {
	display: block;
	padding: 3px 5px;
}
div#foot ul li span {
	line-height:1.4em;
	padding-left:10px;
}
div#foot ul li a:hover {
    padding: 4px 6px;
    border: none;
}
/* @end */